<div id="icons">
    <section id="new">
        <div class="row">
            <div class="button-hover col-md-2 col-sm-4 d-flex justify-content-center align-items-center">
                <button type="button" data-style="btn-primary" class="btn btn-primary btn-lg btn-select">Primary</button>
            </div>
            <div class="button-hover col-md-2 col-sm-4 d-flex justify-content-center align-items-center ">
                <button type="button" data-style="btn-secondary" class="btn btn-secondary btn-lg btn-select">Secondary</button>
            </div>
            <div class="button-hover col-md-2 col-sm-4 d-flex justify-content-center align-items-center">
                <button type="button" data-style="btn-success" class="btn btn-success btn-lg btn-select">Success</button>
            </div>
            <div class="button-hover col-md-2 col-sm-4 d-flex justify-content-center align-items-center">
                <button type="button" data-style="btn-info" class="btn btn-info btn-lg btn-select">Info</button>
            </div>
            <div class="button-hover col-md-2 col-sm-4 d-flex justify-content-center align-items-center">
                <button type="button" data-style="btn-warning"class="btn btn-warning btn-lg btn-select">Warning</button>
            </div>
            <div class="button-hover col-md-2 col-sm-4 d-flex justify-content-center align-items-center ">
                <button type="button" data-style="btn-danger" class="btn btn-danger btn-lg btn-select">Danger</button>
            </div>
        </div>
        <div class="row mt-4">

        </div>
        <div class="row">
            <div class="button-hover col-md-2 col-sm-4 d-flex justify-content-center align-items-center">
                <button type="button" data-style="btn-outline-primary" class="btn btn-outline-primary btn-lg btn-select">Outline</button>
            </div>
            <div class="button-hover col-md-2 col-sm-4 d-flex justify-content-center align-items-center ">
                <button type="button" data-style="btn-outline-primary" class="btn btn-outline-secondary btn-lg btn-select">Outline</button>
            </div>
            <div class="button-hover col-md-2 col-sm-4 d-flex justify-content-center align-items-center">
                <button type="button" data-style="btn-outline-primary" class="btn btn-outline-success btn-lg btn-select">Outline</button>
            </div>
            <div class="button-hover col-md-2 col-sm-4 d-flex justify-content-center align-items-center">
                <button type="button" data-style="btn-outline-primary" class="btn btn-outline-info btn-lg btn-select">Outline</button>
            </div>
            <div class="button-hover col-md-2 col-sm-4 d-flex justify-content-center align-items-center">
                <button type="button" data-style="btn-outline-primary" class="btn btn-outline-warning btn-lg btn-select">Outline</button>
            </div>
            <div class="button-hover col-md-2 col-sm-4 d-flex justify-content-center align-items-center ">
                <button type="button" data-style="btn-outline-primary" class="btn btn-outline-danger btn-lg btn-select">Outline</button>
            </div>
        </div>
    </section>
</div>