<div class="row">
    <div class="color-hover col-md-3 d-flex justify-content-center align-items-center">
        <div
                data-color="##e8d8d"
                class="pick-color"
                style="width: 60px;
                            height: 60px;
                            border-width: 0px;
                            border-radius: 10px;
                            background-color: #8e8d8d;">
        </div>
    </div>
    <div class="color-hover col-md-3 d-flex justify-content-center align-items-center">
        <div
                data-color="#E31837"
                class="pick-color"
                style="width: 60px;
                            height: 60px;
                            border-width: 0px;
                            border-radius: 10px;
                            background-color: #E31837">
        </div>
    </div>
    <div class="color-hover col-md-3 col-sm-4 d-flex justify-content-center align-items-center ">
        <div
                data-color="#810001"
                class="pick-color"
                style="width: 60px;
                            height: 60px;
                            border-width: 0px;
                            border-radius: 10px;
                            background-color: #810001">
        </div>
    </div>
    <div class="color-hover col-md-3 col-sm-4 d-flex justify-content-center align-items-center ">
        <div
                data-color="#0062ac"
                class="pick-color"
                style="width: 60px;
                            height: 60px;
                            border-width: 0px;
                            border-radius: 10px;
                            background-color: #0062ac">
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="color-hover col-md-3 col-sm-4 d-flex justify-content-center align-items-center ">
        <div
                data-color="#00a057"
                class="pick-color"
                style="width: 60px;
                            height: 60px;
                            border-width: 0px;
                            border-radius: 10px;
                            background-color: #00a057">
        </div>
    </div>
    <div class="color-hover col-md-3 col-sm-4 d-flex justify-content-center align-items-center ">
        <div
                data-color="#993366"
                class="pick-color"
                style="width: 60px;
                            height: 60px;
                            border-width: 0px;
                            border-radius: 10px;
                            background-color: #993366">
        </div>
    </div>
    <div class="color-hover col-md-3 col-sm-4 d-flex justify-content-center align-items-center ">
        <div
                data-color="#339999"
                class="pick-color"
                style="width: 60px;
                            height: 60px;
                            border-width: 0px;
                            border-radius: 10px;
                            background-color: #339999">
        </div>
    </div>
    <div class="color-hover col-md-3 col-sm-4 d-flex justify-content-center align-items-center ">
        <div
                data-color="#d49f0f"
                class="pick-color"
                style="width: 60px;
                            height: 60px;
                            border-width: 0px;
                            border-radius: 10px;
                            background-color: #d49f0f">
        </div>
    </div>
</div>
