<div class="container-fluid">
    <div id="icons">
        <section id="new">
            <div class="row">
                <div class="image-hover col-md-3 col-sm-4 d-flex justify-content-center align-items-center">
                    <div style="width: 60px;">
                        <img src="images/academic_integrity.svg" class="img-fluid"
                             title="Academic Integrity" style="cursor:pointer;">
                    </div>
                </div>
                <div class="image-hover col-md-3 col-sm-4 d-flex justify-content-center align-items-center ">
                    <div style="width: 60px;">
                        <img src="images/asynchronous.svg" class="img-fluid" title="Asynchronous"
                             style="cursor:pointer;">
                    </div>
                </div>
                <div class="image-hover col-md-3 col-sm-4 mb-3 d-flex justify-content-center align-items-center">
                    <div style="width: 60px;">
                        <img src="images/communicate.svg" class="img-fluid" title="Communicate" style="cursor:pointer;">
                    </div>
                </div>
                <div class="image-hover col-md-3 col-sm-4 d-flex justify-content-center align-items-center">
                    <div style="width: 60px;">
                        <img src="images/course_announcements.svg" class="img-fluid" style="cursor:pointer;"
                             title="Course Announcements">
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="image-hover col-md-3 col-sm-4 d-flex justify-content-center align-items-center">
                    <div style="width: 60px;">
                        <img src="images/course_schedule.svg" class="img-fluid" title="Course Schedule"
                             style="cursor:pointer;">
                    </div>
                </div>
                <div class="image-hover col-md-3 col-sm-4 d-flex justify-content-center align-items-center">
                    <div style="width: 60px;">
                        <img src="images/learning_resources.svg" class="img-fluid" title="Learning Resources"
                             style="cursor:pointer;">
                    </div>
                </div>
                <div class="image-hover col-md-3 col-sm-4 d-flex justify-content-center align-items-center">
                    <div style="width: 60px;">
                        <img src="images/office_hours.svg" class="img-fluid" title="Office Hours"
                             style="cursor:pointer;">
                    </div>
                </div>
                <div class="image-hover col-md-3 col-sm-4 d-flex justify-content-center align-items-center">
                    <div style="width: 60px;">
                        <img src="images/one_on_one.svg" class="img-fluid" title="one on One" style="cursor:pointer;">
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="image-hover col-md-3 col-sm-4 d-flex justify-content-center align-items-center">
                    <div style="width: 60px;">
                        <img src="images/student_to_student.svg" class="img-fluid" title="Student to Student"
                             style="cursor:pointer;">
                    </div>
                </div>
                <div class="image-hover col-md-3 col-sm-4 d-flex justify-content-center align-items-center">
                    <div style="width: 60px;">
                        <img src="images/teaching_team.svg" class="img-fluid" title="Teaching Team"
                             style="cursor:pointer;">
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>