<style>
    .sections {
        list-style: none;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .section {
        list-style: none;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-list {
        list-style: none;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    li.item {
        padding: 10px;
        width: 100% !important;
    }

    .buttons-state-highlight {
        border: medium dotted blue;
        border-radius: 10px;
        visibility: visible !important;
    }

    .sections-state-highlight {
        border: 1px solid red;
        visibility: visible !important;
    }

    .btn-image {
        width: 60px;
        hieght: auto;
        margin-right: 10px;
    }

    .btn-icon {
        width: 2em;
        height: 2em;
        margin-right: 10px;

        border-radius: 50%;
    }

    .rescircle {
        width: 90%; /* adjust this value to change the size of the circle */
        border-radius: 50%;
        background: #b5b5b5;
        font-size: 3.0em;
    }

    .rescircle:after {
        content: "";
        display: block;
        padding-bottom: 100%; /* this value matches the width to keep the circle shape */
    }

    .btn-lg {
        border-radius: 20px !important;
    }

    .btn-secondary {
        background-color: #f4f3f3 !important;
        font-weight: 700;
        text-wrap: normal;
        font-size: .9em;
    }

    .section-list-item {
        padding-left: 25px;
        padding-right: 10px
    }

    .align-left {
        text-align: left !important;
    }

    .small-round {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        border-style: solid;
        border-width: thin;
        border-color: #000;
    }

    .menu-item .edit-menu-popover {
        position: relative;
        top: -35px;
        left: 90%;
    }

</style>
<div class="row mb-3">
    <div class="col">
        <a href="{{config.wwwroot}}/blocks/course_menu/edit_section.php?coursemenuid={{id}}" class="btn
        btn-outline-primary">
        {{#str}}add_section, block_course_menu{{/str}}
        </a>

        <a href="{{config.wwwroot}}/course/view.php?id={{courseid}}" class="btn
        btn-outline-primary">
        {{#str}}return_to_course, block_course_menu{{/str}}
        </a>

    </div>
</div>
<div class="row">
    <div class="col-md-12 d-flex justify-content-center align-items-center">
        <ul class="sections">
            {{#sections}}
            <li>
            <ul class="section">
                <li class="section-list-item">
                    <button type="button" class="btn {{button_type}} btn-lg d-flex justify-content-left align-items-center" style="width: 100%; min-height:82px;">
                        {{#image}}
                            <img src="{{image}}" class="img-fluid btn-image">
                        {{/image}}
                        {{#icon}}
                            <div class="rescircle d-flex justify-content-center align-items-center"
                                 style="background-color: {{icon_bg_color}}; color: #fff;">
                                <i class="fa {{icon}}"></i>
                            </div>
                        {{/icon}}
                        {{#display_title}}
                            {{title}}
                        {{/display_title}}
                        {{^display_title}}
                            {{#str}}will_not_display, block_course_menu{{/str}}
                        {{/display_title}}
                    </button>
                    <br>
                    <a href="{{config.wwwroot}}/blocks/course_menu/edit_button.php?sectionid={{id}}
                    &coursemenuid={{coursemenuid}}"
                    title="{{#str}}add_button, block_course_menu{{/str}}" class="btn btn-outline-primary btn-sm mt-2">
                    {{#str}}add_button, block_course_menu{{/str}}
                    </a>

                    <a href="{{config.wwwroot}}/blocks/course_menu/edit_section.php?id={{id}}&coursemenuid={{coursemenuid}}" class="btn btn-outline-primary btn-sm mt-2">
                    {{#str}}edit_section, block_course_menu{{/str}}
                    </a>

                    <a href="javscript:void(0);" data-sectionid="{{id}}"
                       title="{{#str}}delete_section, block_course_menu{{/str}}" class="btn btn-danger btn-sm mt-2">
                        {{#str}}delete_section, block_course_menu{{/str}}
                    </a>
                </li>
                <li>
                    <ul class="grid-list">
                        {{#buttons}}
                            <li id="{{id}}" class="item">
                                <div class="menu-item">
                                    <button class="btn {{button_type}} btn-lg " style="width:100%">
                                        <div class="row">
                                            <div class="col-4 d-flex justify-content-center align-items-center">
                                                {{#image}}
                                                    <img src="{{image}}" class="btn-image">
                                                {{/image}}
                                                {{#icon}}
                                                    <div class="rescircle d-flex justify-content-center align-items-center"
                                                         style="background-color: {{icon_bg_color}}; color: #fff;">
                                                        <i class="fa {{icon}}"></i>
                                                    </div>
                                                {{/icon}}
                                            </div>
                                            <div class="col-8 d-flex justify-content-left align-items-center">
                                                {{#display_title}}
                                                    {{title}}
                                                {{/display_title}}
                                            </div>
                                        </div>

                                    </button>

                                    </button>
                                    <div class="edit-menu-popover">
                                        <button class="small-round" type="button" data-toggle="dropdown"
                                                aria-expanded="false">
                                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>

                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item"
                                               href="{{config.wwwroot}}/blocks/course_menu/edit_button.php?id={{id}}&coursemenuid={{coursemenuid}}&sectionid={{sectionid}}">
                                            {{#str}}edit, block_course_menu{{/str}}</a>
                                            <a class="dropdown-item delete-item" data-id="{{id}}"
                                               data-coursemenuid="{{coursemenuid}}" href="#">{{#str}}
                                                delete, block_course_menu{{/str}}</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {{/buttons}}
                    </ul>
                </li>
            {{/sections}}
            <ul>
            </ul>
    </div>
</div>
