<style>
    .sections {
        list-style: none;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .section {
        list-style: none;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-list {
        list-style: none;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    li.item {
        padding: 10px;
        width: 100% !important;
    }

    .buttons-state-highlight {
        border: medium dotted blue;
        border-radius: 10px;
        visibility: visible !important;
    }

    .sections-state-highlight {
        border: 1px solid red;
        visibility: visible !important;
    }

    .btn-icon {
        width: 60px;
        hieght: auto;
        margin-right: 10px;
    }

    .btn-lg {
        border-radius: 20px !important;
    }

    .btn-secondary {
        background-color: #f4f3f3 !important;
        font-weight: 700;
        text-wrap: normal;
        font-size: .9em;
    }

    .section-list-item {
        padding-left: 25px;
        padding-right: 10px
    }

    .align-left {
        text-align: left !important;
    }

    .small-round {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        border-style: solid;
        border-width: thin;
        border-color: #000;
    }

    .menu-item .edit-menu-popover {
        position: relative;
        top: -35px;
        left: 90%;
    }

</style>
<div class="row mb-3">
    <div class="col">
        <a href="{{config.wwwroot}}/blocks/course_menu/edit_section.php?coursemenuid={{id}}" class="btn btn-outline-primary">
            {{#str}}add_section, block_course_menu{{/str}}
        </a>
        <a href="{{config.wwwroot}}/blocks/course_menu/edit_item.php" class="btn btn-outline-primary">
        {{#str}}add_menu_item, block_course_menu{{/str}}
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12 d-flex justify-content-center align-items-center ">
        <ul class="sections">
            <li>
                <ul class="section">
                    <li class="section-list-item">
                        No-title
                    </li>
                    <li>
                        <ul class="grid-list">
                            <li id="1" class="item">
                                <div class="menu-item">
                                    <button class="btn btn-secondary btn-lg" style="width:100%">
                                        <img src="{{config.wwwroot}}/blocks/course_menu/images/teaching_team.svg"
                                             class="btn-icon">
                                        Teaching Team
                                    </button>
                                    <div class="edit-menu-popover">
                                        <button class="small-round" type="button" data-toggle="dropdown"
                                                aria-expanded="false">
                                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>

                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{{config.wwwroot}}/blocks/course_menu/edit_item.php?id={{id}}&coursemenuid={{id}}">{{#str}}edit, block_course_menu{{/str}}</a>
                                            <a class="dropdown-item delete-item" data-id="{{id}}" data-instanceid="{{blockinstanceid}}" href="#">{{#str}}delete, block_course_menu{{/str}}</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li id="2" class="item">
                                <div class="menu-item">
                                    <button class="btn btn-secondary btn-lg" style="width:100%">
                                        <img src="{{config.wwwroot}}/blocks/course_menu/images/course_syllabus.svg"
                                             class="btn-icon">
                                        Course Syllabus
                                    </button>
                                    <div class="edit-menu-popover">
                                        <button class="small-round" type="button" data-toggle="dropdown"
                                                aria-expanded="false">
                                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>

                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">{{#str}}edit, block_course_menu{{/str}}</a>
                                            <a class="dropdown-item" href="#">{{#str}}delete, block_course_menu{{/str}}</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li id="3" class="item">
                                <button class="btn btn-secondary btn-lg" style="width:100%">
                                    <img src="{{config.wwwroot}}/blocks/course_menu/images/course_schedule.svg"
                                         class="btn-icon">
                                    Course Schedule
                                </button>
                            </li>
                            <li id="4" class="item">
                                <button class="btn btn-secondary btn-lg" style="width:100%">
                                    <img src="{{config.wwwroot}}/blocks/course_menu/images/office_hours.svg"
                                         class="btn-icon">
                                    Office hours
                                </button>
                            </li>
                            <li id="5" class="item">
                                <button class="btn btn-secondary btn-lg" style="width:100%">
                                    <img src="{{config.wwwroot}}/blocks/course_menu/images/asynchronous.svg"
                                         class="btn-icon">
                                    Asyncronous - Synchronous
                                </button>
                            </li>
                            <li id="6" class="item">
                                <button class="btn btn-secondary btn-lg" style="width:100%">
                                    <img src="{{config.wwwroot}}/blocks/course_menu/images/academic_integrity.svg"
                                         class="btn-icon">
                                    Academic Integrity
                                </button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="section">
                    <li class="section-list-item">
                        <button class="btn btn-primary btn-lg align-left" style="width:100%">
                            <img src="{{config.wwwroot}}/blocks/course_menu/images/communicate.svg"
                                 class="btn-icon">
                            <span style="font-size: 1.8em">Communicate & Collaborate</span>
                        </button>
                    </li>
                    <li>
                        <ul class="grid-list">
                            <li id="7" class="item">
                                <button class="btn btn-secondary btn-lg" style="width:100%">
                                    <img src="{{config.wwwroot}}/blocks/course_menu/images/course_announcements.svg"
                                         class="btn-icon">
                                    Course Announcements
                                </button>
                            </li>
                            <li id="8" class="item">
                                <button class="btn btn-secondary btn-lg" style="width:100%">
                                    <img src="{{config.wwwroot}}/blocks/course_menu/images/student_to_student.svg"
                                         class="btn-icon">
                                    Student-to-Student Help Forum
                                </button>
                            </li>
                            <li id="9" class="item">
                                <button class="btn btn-secondary btn-lg" style="width:100%">
                                    <img src="{{config.wwwroot}}/blocks/course_menu/images/one_on_one.svg"
                                         class="btn-icon">
                                    Chat with Instructor
                                </button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</div>
