<style>
    .sections {
        list-style: none;
        width: 100%;
    }

    .section {
        list-style: none;
        width: 100%;
    }

    .grid-list {
        list-style: none;
        width: 100%;
    }

    li.item {
        padding: 10px;
        width: 100% !important;
    }



    .btn-icon {
        width: 30px;
        hieght: auto;
        margin-right: 10px;
    }

    .btn-lg {
        border-radius: 10px !important;
    }

    .btn-secondary {
        background-color: #f4f3f3 !important;
        font-weight: 700;
        text-wrap: normal;
        font-size: .9em;
    }

    .section-list-item {
        padding-left: 25px;
        padding-right:10px
    }

    .align-left {
        text-align: left !important;
    }

</style>
<div class="row">
    <div class="col-md-12 ">
        <ul class="sections">
            <li>
                <ul class="section">
                    <li class="section-list-item">

                    </li>
                    <li>
                        <ul class="grid-list">
                            <li id="1" class="item">
                                <button class="btn btn-secondary btn-lg" style="width:100%">
                                    <img src="{{config.wwwroot}}/blocks/course_menu/images/teaching_team.svg"
                                         class="btn-icon">
                                    Teaching Team
                                </button>
                            </li>
                            <li id="2" class="item">
                                <button class="btn btn-secondary btn-lg" style="width:100%">
                                    <img src="{{config.wwwroot}}/blocks/course_menu/images/course_syllabus.svg"
                                         class="btn-icon">
                                    Course Syllabus
                                </button>
                            </li>
                            <li id="3" class="item">
                                <button class="btn btn-secondary btn-lg" style="width:100%">
                                    <img src="{{config.wwwroot}}/blocks/course_menu/images/course_schedule.svg"
                                         class="btn-icon">
                                    Course Schedule
                                </button>
                            </li>
                            <li id="4" class="item">
                                <button class="btn btn-secondary btn-lg" style="width:100%">
                                    <img src="{{config.wwwroot}}/blocks/course_menu/images/office_hours.svg"
                                         class="btn-icon">
                                    Office hours
                                </button>
                            </li>
                            <li id="5" class="item">
                                <button class="btn btn-secondary btn-lg" style="width:100%">
                                    <img src="{{config.wwwroot}}/blocks/course_menu/images/asynchronous.svg"
                                         class="btn-icon">
                                    Asyncronous - Synchronous
                                </button>
                            </li>
                            <li id="6" class="item">
                                <button class="btn btn-secondary btn-lg" style="width:100%">
                                    <img src="{{config.wwwroot}}/blocks/course_menu/images/academic_integrity.svg"
                                         class="btn-icon">
                                    Academic Integrity
                                </button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="section">
                    <li class="section-list-item">
                        <button class="btn btn-primary btn-lg align-left" style="width:100%">
                            <img src="{{config.wwwroot}}/blocks/course_menu/images/communicate.svg"
                                 class="btn-icon">
                            <span style="font-size: 0.8em">Communicate & Collaborate</span>
                        </button>
                    </li>
                    <li>
                        <ul class="grid-list">
                            <li id="7" class="item">
                                <button class="btn btn-secondary btn-lg" style="width:100%">
                                    <img src="{{config.wwwroot}}/blocks/course_menu/images/course_announcements.svg"
                                         class="btn-icon">
                                    Course Announcements
                                </button>
                            </li>
                            <li id="8" class="item">
                                <button class="btn btn-secondary btn-lg" style="width:100%">
                                    <img src="{{config.wwwroot}}/blocks/course_menu/images/student_to_student.svg"
                                         class="btn-icon">
                                    Student-to-Student Help Forum
                                </button>
                            </li>
                            <li id="9" class="item">
                                <button class="btn btn-secondary btn-lg" style="width:100%">
                                    <img src="{{config.wwwroot}}/blocks/course_menu/images/one_on_one.svg"
                                         class="btn-icon">
                                    Chat with Instructor
                                </button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</div>
