<style>
    .btn-icon {
        width: 60px;
        hieght: auto;
        margin-right: 10px;
    }

    .btn-lg {
        border-radius: 20px !important;
    }

    .btn-secondary {
        background-color: #f4f3f3 !important;
        font-weight: 700;
        text-wrap: normal;
        font-size: .9em;
    }

    .section-list-item {
        padding-left: 25px;
        padding-right:10px
    }

    .align-left {
        text-align: left !important;
    }

</style>
<div class="row mb-3">
    <div class="col-md-4 col-sm-12">
        <button class="btn btn-secondary btn-lg align-left" style="width:100%">
            <img src="{{config.wwwroot}}/blocks/course_menu/images/teaching_team.svg"
                 class="btn-icon">
            Teaching Team
        </button>
    </div>
    <div class="col-md-4 col-sm-12">
        <button class="btn btn-secondary btn-lg align-left" style="width:100%">
            <img src="{{config.wwwroot}}/blocks/course_menu/images/course_syllabus.svg"
                 class="btn-icon">
            Course Syllabus
        </button>
    </div>
    <div class="col-md-4 col-sm-12">
        <button class="btn btn-secondary btn-lg align-left" style="width:100%">
            <img src="{{config.wwwroot}}/blocks/course_menu/images/course_schedule.svg"
                 class="btn-icon">
            Course Schedule
        </button>
    </div>
</div>
<div class="row mb-3">
    <div class="col-md-4 col-sm-12">
        <button class="btn btn-secondary btn-lg align-left" style="width:100%">
            <img src="{{config.wwwroot}}/blocks/course_menu/images/office_hours.svg"
                 class="btn-icon">
            Office hours
        </button>
    </div>
    <div class="col-md-4 col-sm-12">
        <button class="btn btn-secondary btn-lg align-left" style="width:100%">
            <img src="{{config.wwwroot}}/blocks/course_menu/images/asynchronous.svg"
                 class="btn-icon">
            Asyncronous - Synchronous
        </button>
    </div>
    <div class="col-md-4 col-sm-12">
        <button class="btn btn-secondary btn-lg align-left" style="width:100%">
            <img src="{{config.wwwroot}}/blocks/course_menu/images/academic_integrity.svg"
                 class="btn-icon">
            Academic Integrity
        </button>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <button class="btn btn-primary btn-lg align-left" style="width:100%">
            <img src="{{config.wwwroot}}/blocks/course_menu/images/communicate.svg"
                 class="btn-icon">
            <span style="font-size: 1.8em">Communicate & Collaborate</span>
        </button>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4 col-sm-12">
        <button class="btn btn-secondary btn-lg align-left" style="width:100%">
            <img src="{{config.wwwroot}}/blocks/course_menu/images/course_announcements.svg"
                 class="btn-icon">
            Course Announcements
        </button>
    </div>
    <div class="col-md-4 col-sm-12">
        <button class="btn btn-secondary btn-lg align-left" style="width:100%">
            <img src="{{config.wwwroot}}/blocks/course_menu/images/student_to_student.svg"
                 class="btn-icon">
            Student-to-Student Help Forum
        </button>
    </div>
    <div class="col-md-4 col-sm-12">
        <button class="btn btn-secondary btn-lg align-left" style="width:100%">
            <img src="{{config.wwwroot}}/blocks/course_menu/images/one_on_one.svg"
                 class="btn-icon">
            Chat with Instructor
        </button>
    </div>
</div>
<hr>