<style>
    .sections {
        list-style: none;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .section {
        list-style: none;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-list {
        list-style: none;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    li.item {
        padding: 10px;
        width: 100% !important;
    }

    .buttons-state-highlight {
        border: medium dotted blue;
        border-radius: 10px;
        visibility: visible !important;
    }

    .sections-state-highlight {
        border: 1px solid red;
        visibility: visible !important;
    }

    .btn-image {
        width: 60px;
        hieght: auto;
        margin-right: 10px;
    }

    .btn-icon {
        width: 2em;
        height: 2em;
        margin-right: 10px;

        border-radius: 50%;
    }

    .rescircle {
        width: 90%; /* adjust this value to change the size of the circle */
        border-radius: 50%;
        background: #b5b5b5;
        font-size: 3.0em;
    }

    .rescircle:after {
        content: "";
        display: block;
        padding-bottom: 100%; /* this value matches the width to keep the circle shape */
    }

    .btn-lg {
        border-radius: 20px !important;
    }

    .btn-secondary {
        background-color: #f4f3f3 !important;
        font-weight: 700;
        text-wrap: normal;
        font-size: .9em;
    }

    .section-list-item {
        padding-left: 25px;
        padding-right: 10px
    }

    .align-left {
        text-align: left !important;
    }

    .small-round {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        border-style: solid;
        border-width: thin;
        border-color: #000;
    }

    .menu-item .edit-menu-popover {
        position: relative;
        top: -35px;
        left: 90%;
    }

</style>
{{#sections}}
    {{#display_title}}
        <div class="row mb-3">
            <div class="col">
                <button type="button"
                        class="btn {{^background_image}}{{button_type}}{{/background_image}} btn-lg d-flex justify-content-left align-items-center"
                        style="width: 100%; min-height:82px; {{#background_image}}background-image: {{background_image}};{{/background_image}}">
                    {{#image}}
                        <img src="{{image}}" class="img-fluid btn-image">
                    {{/image}}
                    {{#icon}}
                        <div class="rescircle d-flex justify-content-center align-items-center"
                             style="background-color: {{icon_bg_color}}; color: #fff;">
                            <i class="fa {{icon}}"></i>
                        </div>
                    {{/icon}}
                    {{title}}
                </button>
            </div>
        </div>
    {{/display_title}}
    <div class="row mb-3">
        {{#buttons}}
            <div class="col-md-4 col-sm-12 mt-3">
                <a href="{{config.wwwroot}}/mod/{{mod_name}}/view.php?id={{cmid}}" class="btn {{button_type}} btn-lg " style="width:100%">
                    <div class="row">
                        <div class="col-4 d-flex justify-content-center align-items-center">
                            {{#image}}
                                <img src="{{image}}" class="btn-image">
                            {{/image}}
                            {{#icon}}
                                <div class="rescircle d-flex justify-content-center align-items-center"
                                     style="background-color: {{icon_bg_color}}; color: #fff;">
                                    <i class="fa {{icon}}"></i>
                                </div>
                            {{/icon}}
                        </div>
                        <div class="col-8 d-flex justify-content-left align-items-center">
                            {{#display_title}}
                                {{title}}
                            {{/display_title}}
                        </div>
                    </div>
                </a>
            </div>
        {{/buttons}}
    </div>
{{/sections}}
<hr>